body {
  background-color: #0D0D0D;
}

nav {
  background-color: #AAB0B5;
  color: white;
  height: 2rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  border-style: outset;
}

#divLogo {
  margin-left: 5%;
  width: 15%;
  align-self: center;

}

a {
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  -webkit-text-stroke: 0.6px black;
  color: #F2F2F2;
}

#navbarNav {
  width: 80%;
  align-self: center;
}

#divTitulo {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: center;
}

#parrafoTitulo {
  color: #F2F2F2;
  font-family: 'Bebas Neue', cursive;
  text-shadow: -2px -2px 1px #595959, 2px 2px 1px #595959, -2px 2px 1px #595959, 2px -2px 1px #000;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#divUsuario {
  width: 400px;
  height: 200px;
  background-color: #AAB0B5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: inset 2px #F2F2F2;
  margin-top: -40px;

}

#tituloUsuario {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#parrafoUno {
  font-family: 'Bebas Neue', cursive;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 2rem;
  text-align: center;
  color: #F2F2F2;
  -webkit-text-stroke: 0.2px black;
}

label {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.2rem;
}

input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

input[type=text]:focus {
  background-color: #000;
  color: white;
  border: 4px solid white;
  transition: 1s;
}

select:focus {
  background-color: #000;
  color: white;
  border: 4px solid white;
  transition: 1s;
}

input[type=submit] {
  width: 100%;
  background-color: #0D0D0D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Bebas Neue', cursive;
}

input[type=submit]:hover {
  background-color: #595959;
  color: white;
  transition: 0.5s;
}

input[type=click] {
  width: 93%;
  background-color: #0D0D0D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  display: none;
  font-family: 'Bebas Neue', cursive;
}

input[type=click]:hover {
  background-color: #595959;
  transition: 0.5s;
}

input[type=checkbox] {
  margin-bottom: 5px;
}

#div2 {
  width: 70%;
  border-radius: 5px;
  background-color: #AAB0B5;
  padding: 20px;
}

#boton1 {
  opacity: 0.1;
  font-size: 1.2rem;
}

#boton2 {
  width: 120px;
  height: 20px;
  font-size: 1.2rem;
  background-color: #595959;
  border: inset 2px #F2F2F2;
  text-align: center;
  margin-top: 60px;
}

#divGastos {
  width: 50%;
  border-radius: 5px;
  background-color: #AAB0B5;
  padding: 20px;
  margin-bottom: 70px;
}

#tituloGastos {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  color: #0D0D0D;
  text-align: center;
}

#labelGasto {
  color: black;
}

#boton3 {
  width: 100%;
  font-size: 1.2rem;
  background-color: #0D0D0D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

#div4 {
  width: 400px;
  height: 200px;
  background-color: #AAB0B5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: inset 2px #F2F2F2;

}

#h4 {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#p3 {
  font-family: 'Bebas Neue', cursive;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 2rem;
  text-align: center;
  color: #F2F2F2;
  -webkit-text-stroke: 0.2px black;
}

#divCant {
  width: 400px;
  height: 250px;
  background-color: #AAB0B5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: inset 2px #F2F2F2;
  margin-top: -20px;

}

#pCant {
  font-family: 'Bebas Neue', cursive;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.8rem;
  text-align: center;
  color: #F2F2F2;
  -webkit-text-stroke: 0.2px black;
}

#inputCant {
  width: 98%;
  padding: 14px 20px;
  margin-left: 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Bebas Neue', cursive;
}

#boton4 {
  width: 80%;
  font-size: 1rem;
  background-color: #0D0D0D;
  color: white;
  padding: 14px 20px;
  margin-left: 10%;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}